In [ ]:
#THIS ONE FIRSTLY
import pandas as pd
df=pd.read_excel("WaterQuality01.xlsx")#lire le fichier excel
#print(df.head())   # qfficher les 5 premiers lignes
DF=pd.DataFrame([[30,1],[90,3],[3,4],[5,5],[1000,4],[20,2],[5,2],[0.5,5],[50,5],[0.5,5],[5,5]],columns=["Si","wi"])
#DF rendre le petit tableau au dataframe
Lbig=[]
i=3
H=0
for j in DF.itertuples(): #iterer sur les colones et les lignes du DF
        W =(j.wi)/(DF["wi"].sum()+4) # calculer le W
        for P in df[list(df.columns)[i:-1]]:
                #iterer sur une list qui contient juste les noms des colonnes df
                L0=[]
                for C in df[P]:#iterer sur chaque ligne d'un colonne
                        Q =(C/j.Si)*100 #calcul du Q
                        if j.Si==DF["Si"][H] and P==list(df.columns)[i]:
                            #sert a rassembler les SI du chaque colone
                            L0.append(W*Q)
                if C == df[P].iloc[-1]:#condition pour s'arreter la deuxieme boucle for
                    i+=1 #changer a la colonne suivante
                    H+=1
                    Lbig.append(L0)
                    #print(L0)
                    break

L1=[]
for o in df["pH"]:#iterer sur les C du ph
    SIpH=(4/45)*((o-8.5)/(6.5-8.5))
    L1.append(SIpH)
Lbig.append(L1)
data=pd.DataFrame(Lbig)#,index=["SI^T°C",]
wawq=[]
for Y in range(len(df)):
    Z=data[Y].sum()
    wawq.append(Z)
new_one=df.assign(WAWQI=wawq)#ajouter la collonne WAWQI

new_one["QUALITY"]=["EXELENT Water" if s<50  else "GOOD Water"if s<=100 and s>=50 else"POOR Water"if s<=200 and s>=101 else "VERY POOR"if s<=300 and s>=201 else "Unsuitable for drinking"for s in new_one["WAWQI"]]
# ajouter la colonne quality avec les descriptions
new_one

,Year,POINTS,pH,T°C,DCO,DBO5,O2 DISSOUS,CONDUCTIVITE,MES,TURBIDITE,NITRITE,NITRATE,AMMONIUM,PHOSPHATE,FC,WAWQI,QUALITY
0,2016,P 1,8.05,20.9,9.88,5,5.90,1110,4,4.43,0.394,0.215,0.544,0.269,582,66.409259,GOOD Water
1,2016,P 2,7.27,20.7,15.30,10,5.70,1160,8,17.70,0.384,0.131,0.493,0.266,1191,92.948963,GOOD Water
2,2016,P 3,7.67,20.8,5.20,4,6.70,1280,22,1.92,0.349,7.830,0.523,0.255,110,68.361333,GOOD Water
3,2016,P 4,7.17,20.9,3.76,3,6.80,1150,17,1.66,0.419,26.600,0.569,0.237,100,69.754667,GOOD Water
4,2016,P 5,7.88,20.7,4.00,2,6.90,980,2,1.71,0.315,5.220,0.453,0.991,373,54.220889,GOOD Water
5,2016,P 6,7.43,20.3,18.74,7,3.20,2800,3,1.16,0.147,0.560,0.381,0.513,83,70.375704,GOOD Water
6,2016,P 7,7.86,20.4,8.54,8,7.56,1150,4,3.66,0.457,4.431,0.436,0.580,991,79.158296,GOOD Water
7,2016,P 8,7.47,18.8,32.00,29,2.08,3100,130,9.15,0.285,0.269,0.396,0.198,973,174.567778,POOR Water
8,2016,P 9,7.63,19.8,1.05,0,4.84,1170,0,3.47,0.357,0.226,0.447,0.067,864,43.888889,EXELENT Water
9,2017,P 1,7.15,20.3,42.90,18,4.06,1050,13,20.10,0.191,0.912,0.331,0.408,582,109.895259,POOR Water
10,2017,P 2,7.42,20.2,35.20,20,4.30,1090,13,5.03,0.126,6.400,0.459,0.901,1191,106.439852,POOR Water
11,2017,P 3,6.93,20.5,27.70,15,5.08,1070,9,6.28,2.260,12.420,0.461,1.700,110,143.471259,POOR Water
12,2017,P 4,6.92,20.7,18.70,7,5.20,1320,3,1.82,0.846,0.440,0.445,0.587,100,79.393926,GOOD Water
13,2017,P 5,7.82,20.5,25.50,15,5.10,820,12,2.40,0.153,2.300,0.545,0.572,373,88.597630,GOOD Water
14,2017,P 6,7.67,20.4,20.10,8,2.82,2900,4,1.25,0.139,0.680,0.332,0.416,83,72.327259,GOOD Water
15,2017,P 7,7.19,20.0,17.90,10,6.40,1390,5,2.50,0.438,5.860,0.496,0.690,991,85.997481,GOOD Water
16,2017,P 8,7.04,19.9,24.60,9,1.59,3250,6,4.00,1.030,0.180,0.546,2.870,973,108.778963,POOR Water
17,2017,P 9,6.82,20.6,22.60,10,3.22,1230,5,3.10,0.890,0.130,0.440,3.480,864,92.177630,GOOD Water

In [ ]:
#Second
import pandas as pd
df1=pd.read_excel("WaterQuality01.xlsx")
DF1=pd.DataFrame([[30,1],[90,3],[3,4],[5,5],[1000,4],[20,2],[5,2],[0.5,5],[50,5],[0.5,5],[5,5]],columns=["Si","wi"])
Lbig1=[]
i=3
H=0
for j in DF1.itertuples(): #iter DF1 j.Si
        W =(j.wi)/(DF1["wi"].sum()+4)
        for P in df1[list(df1.columns)[i:-1]]:#iterer sur une list qui contient juste les noms des colonnes df1
                L00=[]
                for C in df1[P]:
                        Q =(C/j.Si)*100
                        if j.wi==DF1["wi"][H] and P==list(df1.columns)[i]:
                            L00.append(Q**W)#LIST L00 CONTIENT LES SI de chaque parametre
                if C == df1[P].iloc[-1]:
                    i+=1
                    H+=1
                    Lbig1.append(L00)
                    break

L01=[]
for o in df1["pH"]:
    A=((o-8.5)/(6.5-8.5))**(4/45)
    L01.append(A)
#print(L01)
Lbig1.append(L01)#big list contient des petites listes L00
data1=pd.DataFrame(Lbig1)
wgwq1=[]
for Y in range(len(df1)):
                Z=data1[Y].prod()
                wgwq1.append(Z)
new_two=df.assign(WGWQI=wgwq1)
#print(new_two)
new_two["QUALITY"]=["EXELENT" if s<=100 and s>=90  else "GOOD"if s<=89 and s>=70 else"MEDIUM"if s<=69 and s>=50 else " Bad"if s<=49 and s>=25 else "Very Bad" if s<=24 and s>=0 else None for s in new_two["WGWQI"]]
new_two

,Year,POINTS,pH,T°C,DCO,DBO5,O2 DISSOUS,CONDUCTIVITE,MES,TURBIDITE,NITRITE,NITRATE,AMMONIUM,PHOSPHATE,FC,WGWQI,QUALITY
0,2016,P 1,8.05,20.9,9.88,5,5.90,1110,4,4.43,0.394,0.215,0.544,0.269,582,19.236184,Very Bad
1,2016,P 2,7.27,20.7,15.30,10,5.70,1160,8,17.70,0.384,0.131,0.493,0.266,1191,23.549227,Very Bad
2,2016,P 3,7.67,20.8,5.20,4,6.70,1280,22,1.92,0.349,7.830,0.523,0.255,110,29.652454,Bad
3,2016,P 4,7.17,20.9,3.76,3,6.80,1150,17,1.66,0.419,26.600,0.569,0.237,100,33.649657,Bad
4,2016,P 5,7.88,20.7,4.00,2,6.90,980,2,1.71,0.315,5.220,0.453,0.991,373,25.295698,Bad
5,2016,P 6,7.43,20.3,18.74,7,3.20,2800,3,1.16,0.147,0.560,0.381,0.513,83,21.685148,Very Bad
6,2016,P 7,7.86,20.4,8.54,8,7.56,1150,4,3.66,0.457,4.431,0.436,0.580,991,31.667345,Bad
7,2016,P 8,7.47,18.8,32.00,29,2.08,3100,130,9.15,0.285,0.269,0.396,0.198,973,28.350344,Bad
8,2016,P 9,7.63,19.8,1.05,0,4.84,1170,0,3.47,0.357,0.226,0.447,0.067,864,0.000000,Very Bad
9,2017,P 1,7.15,20.3,42.90,18,4.06,1050,13,20.10,0.191,0.912,0.331,0.408,582,30.261139,Bad
10,2017,P 2,7.42,20.2,35.20,20,4.30,1090,13,5.03,0.126,6.400,0.459,0.901,1191,37.669612,Bad
11,2017,P 3,6.93,20.5,27.70,15,5.08,1070,9,6.28,2.260,12.420,0.461,1.700,110,60.143866,MEDIUM
12,2017,P 4,6.92,20.7,18.70,7,5.20,1320,3,1.82,0.846,0.440,0.445,0.587,100,27.620777,Bad
13,2017,P 5,7.82,20.5,25.50,15,5.10,820,12,2.40,0.153,2.300,0.545,0.572,373,29.214636,Bad
14,2017,P 6,7.67,20.4,20.10,8,2.82,2900,4,1.25,0.139,0.680,0.332,0.416,83,21.171410,Very Bad
15,2017,P 7,7.19,20.0,17.90,10,6.40,1390,5,2.50,0.438,5.860,0.496,0.690,991,38.052535,Bad
16,2017,P 8,7.04,19.9,24.60,9,1.59,3250,6,4.00,1.030,0.180,0.546,2.870,973,32.692555,Bad
17,2017,P 9,6.82,20.6,22.60,10,3.22,1230,5,3.10,0.890,0.130,0.440,3.480,864,30.622949,Bad

In [ ]:
#thirdly
import pandas as pd
from math import sqrt
df2=pd.read_excel("WaterQuality01.xlsx")
df2.drop(columns=["DCO","CONDUCTIVITE","MES","TURBIDITE","NITRITE"],inplace=True)#Effacer ces colonnes du df2
#print(df2.head(3))
DF2=pd.DataFrame([[30,1],[3,4],[5,5],[50,5],[0.5,5],[5,5],[594,5]],columns=["Si","wi"])
Lbig10=[]
i=3
H=0
for j in DF2.itertuples(): #iter DF j.Si
        W =(j.wi)/(DF2["wi"].sum()+4)
        for P in df2[list(df2.columns)[i:]]:
                L10=[]
                for C in df2[P]:
                        Q =(C/j.Si)*100
                        SI=(Q*W)**2
                        L10.append(SI)
                if C == df2[P].iloc[-1]:
                            i+=1
                            H+=1
                            Lbig10.append(L10)
                            break

L10=[]
for o in df2["pH"]:#iterer sur les valeurs  du ph

    A=((o-8.5)/(6.5-8.5))*(4/45)#calculer SI ph
    L10.append(A)
Lbig10.append(L10)
#print(Lbig10)
data10=pd.DataFrame(Lbig10)
#print(data10)
owqi=[]
for Y in range(len(df2)): #iterer les element du data10
        #print(1)
        Z=sqrt(8/(1/data10[Y]).sum())
        owqi.append(Z)

new_tree=df2.assign(OWQI=owqi)
new_tree["QUALITY"]=["EXELENT" if s<=100 and s>=90  else "GOOD"if s<=89 and s>=85 else"FAIR"if s<=84 and s>=80 else " POOR"if s<=79 and s>=60 else "Very POOR" for s in new_tree["OWQI"]]
new_tree

,Year,POINTS,pH,T°C,DBO5,O2 DISSOUS,NITRATE,AMMONIUM,PHOSPHATE,FC,OWQI,QUALITY
0,2016,P 1,8.05,20.9,5,5.90,0.215,0.544,0.269,582,0.162776,Very POOR
1,2016,P 2,7.27,20.7,10,5.70,0.131,0.493,0.266,1191,0.107381,Very POOR
2,2016,P 3,7.67,20.8,4,6.70,7.830,0.523,0.255,110,0.521101,Very POOR
3,2016,P 4,7.17,20.9,3,6.80,26.600,0.569,0.237,100,0.642056,Very POOR
4,2016,P 5,7.88,20.7,2,6.90,5.220,0.453,0.991,373,0.464294,Very POOR
5,2016,P 6,7.43,20.3,7,3.20,0.560,0.381,0.513,83,0.368732,Very POOR
6,2016,P 7,7.86,20.4,8,7.56,4.431,0.436,0.580,991,0.469133,Very POOR
7,2016,P 8,7.47,18.8,29,2.08,0.269,0.396,0.198,973,0.208019,Very POOR
8,2016,P 9,7.63,19.8,0,4.84,0.226,0.447,0.067,864,0.000000,Very POOR
9,2017,P 1,7.15,20.3,18,4.06,0.912,0.331,0.408,582,0.503676,Very POOR
10,2017,P 2,7.42,20.2,20,4.30,6.400,0.459,0.901,1191,0.609626,Very POOR
11,2017,P 3,6.93,20.5,15,5.08,12.420,0.461,1.700,110,0.734254,Very POOR
12,2017,P 4,6.92,20.7,7,5.20,0.440,0.445,0.587,100,0.327245,Very POOR
13,2017,P 5,7.82,20.5,15,5.10,2.300,0.545,0.572,373,0.472095,Very POOR
14,2017,P 6,7.67,20.4,8,2.82,0.680,0.332,0.416,83,0.387458,Very POOR
15,2017,P 7,7.19,20.0,10,6.40,5.860,0.496,0.690,991,0.666205,Very POOR
16,2017,P 8,7.04,19.9,9,1.59,0.180,0.546,2.870,973,0.146543,Very POOR
17,2017,P 9,6.82,20.6,10,3.22,0.130,0.440,3.480,864,0.107081,Very POOR

In [ ]:
#THE LAAAASSSTT ONE
df3=pd.read_excel("WaterQuality01.xlsx")
df3.drop(df3.iloc[:,2:],inplace=True,axis=1)
df3_one=df3.assign(WAWQI=wawq)#ajouter la colonne WAWQI
df3_one["QUALITYWAWQI"]=["EXELENT Water" if s<50  else "GOOD Water"if s<=100 and s>=50 else"POOR Water"if s<=200 and s>=101 else "VERY POOR"if s<=300 and s>=201 else "Unsuitable for drinking"for s in df3_one["WAWQI"]]
df3_two=df3_one.assign(WGWQI=wgwq1)#ajouter la colonne WGWQ1
df3_two["QUALITYWGWQI"]=["EXELENT" if s<=100 and s>=90  else "GOOD"if s<=89 and s>=70 else"MEDIUM"if s<=69 and s>=50 else " Bad"if s<=49 and s>=25 else "Very Bad" if s<=24 and s>=0 else None for s in df3_two["WGWQI"]]
df3_tree=df3_two.assign(OWQI=owqi)#ajouter la colonne OWQI
df3_tree["QUALITYOWQI"]=["EXELENT" if s<=100 and s>=90  else "GOOD"if s<=89 and s>=85 else"FAIR"if s<=84 and s>=80 else " POOR"if s<=79 and s>=60 else "Very POOR" for s in df3_tree["OWQI"]]
df3_tree

,Year,POINTS,WAWQI,QUALITYWAWQI,WGWQI,QUALITYWGWQI,OWQI,QUALITYOWQI
0,2016,P 1,66.409259,GOOD Water,19.236184,Very Bad,0.162776,Very POOR
1,2016,P 2,92.948963,GOOD Water,23.549227,Very Bad,0.107381,Very POOR
2,2016,P 3,68.361333,GOOD Water,29.652454,Bad,0.521101,Very POOR
3,2016,P 4,69.754667,GOOD Water,33.649657,Bad,0.642056,Very POOR
4,2016,P 5,54.220889,GOOD Water,25.295698,Bad,0.464294,Very POOR
5,2016,P 6,70.375704,GOOD Water,21.685148,Very Bad,0.368732,Very POOR
6,2016,P 7,79.158296,GOOD Water,31.667345,Bad,0.469133,Very POOR
7,2016,P 8,174.567778,POOR Water,28.350344,Bad,0.208019,Very POOR
8,2016,P 9,43.888889,EXELENT Water,0.000000,Very Bad,0.000000,Very POOR
9,2017,P 1,109.895259,POOR Water,30.261139,Bad,0.503676,Very POOR
10,2017,P 2,106.439852,POOR Water,37.669612,Bad,0.609626,Very POOR
11,2017,P 3,143.471259,POOR Water,60.143866,MEDIUM,0.734254,Very POOR
12,2017,P 4,79.393926,GOOD Water,27.620777,Bad,0.327245,Very POOR
13,2017,P 5,88.597630,GOOD Water,29.214636,Bad,0.472095,Very POOR
14,2017,P 6,72.327259,GOOD Water,21.171410,Very Bad,0.387458,Very POOR
15,2017,P 7,85.997481,GOOD Water,38.052535,Bad,0.666205,Very POOR
16,2017,P 8,108.778963,POOR Water,32.692555,Bad,0.146543,Very POOR
17,2017,P 9,92.177630,GOOD Water,30.622949,Bad,0.107081,Very POOR